<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Async</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
</head>
<body>
  <div id="content"></div>

  {{ room_name|json_script:"room-name" }}
  <script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent)
    const socket = new WebSocket(`ws://${window.location.host}/ws/chat/${roomName}/`)

    socket.onmessage = function(e) {
      const data = JSON.parse(e.data)
      console.log(data);
      document.getElementById('content').textContent = data.app
    }

  </script>
</body>
</html>
