<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
</head>
<body>
    <div class="columns is-centered m-5">
        <div class="column is-two-thirds has-text-centered">
            <span class="title is-block">What chat room would you like to enter?</span>
            <input class="input" id="room-name-input" type="text" size="100"><br>
            <div class="is-flex is-justify-content-center mt-3">
                <input class="button is-link px-6" id="room-name-submit" type="button" value="Enter">
            </div>
        </div>
    </div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
</html>